body{
	background: linear-gradient(#008aca,#df5b87);
}
.team{
    margin:75px 0;
}
h1{
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    color: black;
    padding-bottom: 10px;
}
h1:after{
    content: '';
    background: black;
    display: block;
    height: 3px;
    width: 150px;
    margin: 10px auto;
}
.profile{
    margin-top: 0px;
} 
.profile .img-box{
    opacity: 1;
    display: block;
    position: relative;
}
.profile h4{
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
}
.profile h5{
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
}
.img-box:after{
    content: '';
    opacity: 0;
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}